{% extends 'base.html' %}
{% block content %}

<h1>Dolphin Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ dolphin.name }}</span>
    <p>Breed: {{ dolphin.breed }}</p>
    <p>Description: {{ dolphin.description }}</p>
    {% if dolphin.age > 0 %}
      <p>Age: {{ dolphin.age }}</p>
    {% else %}
      <p>Age: baby</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'dolphins_update' dolphin.id %}">Edit</a>
    <a href="{% url 'dolphins_delete' dolphin.id %}">Delete</a>
  </div>
</div>

{% endblock %}