{% extends 'base.html' %}
{% block content %}

<h1>Dolphin Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ dolphin.name }}</span>
        <p>Breed: {{ dolphin.breed }}</p>
        <p>Description: {{ dolphin.description }}</p>
        {% if dolphin.age > 0 %}
          <p>Age: {{ dolphin.age }}</p>
        {% else %}
          <p>Age: Baby</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'dolphins_update' dolphin.id %}">Edit</a>
        <a href="{% url 'dolphins_delete' dolphin.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">

    <form action="{% url 'add_feeding' dolphin.id%}" method="post">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" class="btn" value="Add Feeding">
    </form>

    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in dolphin.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ dolphin.name }}'s Oceans</h3>
    {% if dolphin.oceans.count %}
      {% for ocean in dolphin.oceans.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                The {{ocean.size}} {{ocean.name}} ocean
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Oceans :(</h5>
    {% endif %}
  </div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);

</script>
{% endblock %}